<div ng-include="'views/menu.html'"></div>
<md-content flex layout-padding>
  <div layout="column" layout-align="top center">
    <div layout="row" layout-wrap>
      <h2>Mon espace</h2>
    </div>
  </div>
  <div layout="row" layout-align="center center">
    <div flex="30"></div>
    <div flex="40">
      <div ng-controller="gamePlayedChartCtrl">
        <canvas class="chart chart-line" chart-dataset-override="datasetOverride" chart-data="data" chart-labels="labels" chart-click="onClick">
   </canvas>
      </div>
    </div>
    <div flex="30"></div>
  </div>
  <div layout="row" layout-align="center center">
    <div flex="50">
      <md-card md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Parties totales jouées</span>
            <span class="md-subhead">
              <md-progress-circular ng-hide="nbGames" md-mode="indeterminate" class="md-accent " md-diameter="40 "></md-progress-circular>
              {{nbGames}}
            <small>parties</small>
            </span>
          </md-card-title-text>
          <img src="images/gamepad.svg" width="48">
        </md-card-title>
      </md-card>
    </div>

    <div flex="50">
      <md-card md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Médailles remportées</span>
            <span class="md-subhead">
              <md-progress-circular ng-hide="nbMedals" md-mode="indeterminate" class="md-accent " md-diameter="40 "></md-progress-circular>
              {{nbMedals}}
            <small>médailles</small>
            </span>
          </md-card-title-text>
          <img src="images/medal.svg" width="48">
        </md-card-title>
      </md-card>
    </div>

  </div>
</md-content>

<script type="text/javascript ">
  NProgress.start();
  NProgress.done();
</script>