<style media="screen">
  md-progress-circular path {
    stroke: #42bd41 !important;
  }
</style>

<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="bg-image"></div>
      <div class="card-body">
        <md-input-container class="md-block" flex-gt-sm>
          <label for="login">Login</label>
          <input ng-model="usr" name="login" type="text">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label for="inputPassword">Mot de passe</label>
          <input name="pwd" type="password" ng-model="pwd" id="inputPassword">
        </md-input-container>


        <md-button class="btn1" ng-click="login()">Connexion
          <div layout="row" ng-show="trylogin" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="40"></md-progress-circular>
          </div>
        </md-button>
      </div>
    </div>
  </div>